<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html>
    <head>
        <title>{% block title %}Our Mission{% endblock %}</title>
    </head>
    <body>
        {% block content %}
        <h1 style="text-align: center;">Our Mission</h1>
        <div class="center">
            <p>We are the Environmental Awareness Club of Hudson High School. Our goal is to enact positive environmental change in our community by working with community leaders, educating our peers, and volunteering in order to clean up our city and promote sustainability.</p>
        </div>
        {% endblock %}
    </body>
</html>
