<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html>
    <head>
        <title>{% block title %}Our Mission{% endblock %}</title>
    </head>
    <body>
        {% block content %}
        <h1 style="text-align: center;">Our Mission</h1>
        <div class="center">
            <p>Our goal is to be exceptional stuards of our land in order to enact substantial change in our community and beyond. Through acts of service, collaboration with city officials, and increased attention towards pressing environmental issues, we strive to do our part in reversing the significant damage our species has inflicted upon the environment.</p>
        </div>
        {% endblock %}
    </body>
</html>